body {
    width: 100%; /* Use the full width of the window */
    background: whitesmoke;
    font-family: 'Inter', sans-serif; /* LIGHT 300 */
    font-weight: lighter;
    color: midnightblue;
}

.container {
    display: flex;
    justify-content: space-between; /* Add space between left and right bars */
    align-items: stretch; /* Stretch both bars to the full height */
    min-height: 100vh;
}

.left-side-bar, .right-side-bar {
    flex: 1; /* Distribute available space equally between left and right bars */
    font-family: 'Inter', sans-serif; /* LIGHT 300 */
    font-weight: lighter;
    color: midnightblue;
}

.left-side-bar {
    background: midnightblue;
}

.right-side-bar {
    background: midnightblue;
}

/* Your other styles... */

.header{
        background-image: url("/images/Sunrise gradient.jpg");
        background-size: cover;
        color: midnightblue;
        font-weight: bold;
        text-shadow: 0 0 1px black;
        margin-top: 0px;
    }
    .devotionals{
        font-size: 15px;
    }
.content{
    max-width: 800px;
    padding: 30px;
}
.prayer-box{
    border: 4px solid midnightblue;
    padding: 10px;
}
